* {
    font-family: "Roboto", sans-serif;
}

body {
    background: rgb(255, 255, 79);
    background: -webkit-linear-gradient(77deg, rgb(255, 255, 79) 0%, rgb(255, 123, 74) 79%);
    background: -o-linear-gradient(77deg, rgb(255, 255, 79) 0%, rgb(255, 123, 74) 79%);
    background: -ms-linear-gradient(77deg, rgb(255, 255, 79) 0%, rgb(255, 123, 74) 79%);
    background: linear-gradient(77deg, rgb(255, 255, 79) 0%, rgb(255, 123, 74) 79%);
    margin: 0;
    text-align: center;
}

p {
    margin: 0;
}

input {
    height: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#location {
    margin: 15px;
    display: block;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px 10px 20px 20px;
    color: white;
    outline: none;
    width: 655px;
    font-size: 30px;
}

#location::placeholder {
    color: rgba(255, 255, 255, .5);
}

.mybtn{
    margin: 15px;
    margin-top: 30px;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #626262;
    outline: none;
    width: 655px;
    font-size: 20px;
    -moz-box-shadow:0 0 15px #4B60FF;
    -webkit-box-shadow:0 0 15px #4B60FF;
    box-shadow:0 0 15px #4B60FF;
    background-image: linear-gradient(to bottom right, rgb(64, 78, 230), rgb(77, 81, 224), rgb(90, 83, 219), rgb(103, 86, 213), rgb(116, 89, 207), rgb(129, 91, 202), rgb(141, 94, 196), rgb(154, 96, 191), rgb(167, 99, 185), rgb(180, 102, 179), rgb(193, 104, 174), rgb(206, 107, 168));
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: uppercase;
}

.mybtn:hover {
    color: #fff;
    cursor: pointer;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -moz-box-shadow:0 0 15px #76FF14;
    -webkit-box-shadow:0 0 15px #76FF14;
    box-shadow:0 0 15px #76FF14;
    background-image: linear-gradient(to top right, rgb(68, 214, 0), rgb(83, 217, 2), rgb(98, 219, 3), rgb(112, 222, 5), rgb(127, 224, 7), rgb(142, 227, 9), rgb(157, 229, 10), rgb(172, 232, 12), rgb(187, 234, 14), rgb(201, 237, 16), rgb(216, 239, 17), rgb(231, 242, 19));
}